@model List<Gonderi>

@{
    ViewData["Title"] = (ViewBag.Baslik == null ? "Yazılarım" : (string)ViewBag.Baslik);
}

<h3 class="pb-4 mb-4 fst-italic border-bottom">
    @ViewData["Title"]
    @*@(ViewBag.Baslik ?? "Yazılarım")*@ @*null değilse 1. si null ise 2. dönderir*@
</h3>

@foreach (var gonderi in Model)
{
    <article class="blog-post">
        <h2 class="blog-post-title mb-1">@gonderi.Baslik</h2>
        <p class="blog-post-meta"> <a href="#">Yönetici</a> tarafından @gonderi.OlusturulmaZamani.ToShortDateString() tarihinde yazıldı</p>

        @Html.Raw(gonderi.Icerik)
    </article>
}